body {
	background: rgb(27, 75, 3);
	color: white;
}
.table {
	width: 85%;
	background: rgb(31, 85, 4);
	padding: 50px 80px 2px;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.betting-box {
	min-height: 400px;
	position: relative;
}
.betting-box-mark {
	width: 200px;
	height: 300px;
	border-radius: 5px;
	border: 2px dashed rgba(247, 201, 16, 0.762);
	position: absolute;
	left: 150px;
	margin-left: -150px;
}
.betting-box-cards {
	position: absolute;
	top: 62px;
	left: 0;
	width: 100%;
}
.betting-box-cards img {
	width: 200px;
	height: 300px;

	position: relative;
	left: 150px;
	margin-left: -150px;
}
